.chapter-node {
    background-color: rgb(103, 50, 74);
}

.dragitem-node {
    background-color: rgb(48, 79, 87);
}

.exit-node {
    background-color: rgb(98, 86, 118);
}

.entry-node {
    background-color: rgb(56, 101, 108);
}

.condition-node {
    background-color: rgb(45, 72, 66);
}

.choice-node {
    background-color: rgb(101, 85, 43);
}

.active-node {
    background-color: rgb(108, 53, 51);
}

.replica-node {
    background-color: rgb(53, 91, 74);
}
